.main {
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    scroll-behavior: smooth;
}

.footer {
    padding-bottom: 8vh;
}

.spons {
    position: relative;
    height: 70vh;
    width: 85vw;
    left: 13vh;
    top: 0;
    border-radius: 20px;
    background: rgba(206, 214, 224, 0.95);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.sponsText {
    padding-top: 5vh;
    padding-left: 5vh;
}

.sponsTitle {
    color: #2F3542;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.5px;
}

.desc {
    position: relative;
    height: 70vh;
    width: 85vw;
    left: 13vh;
    top: 15vh;
    border-radius: 20px;
    background: rgba(47, 53, 66, 0.95);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.descImage {
    position: absolute;
    top: 0;
    right: 0;
}

.descImg {
    width: 68.5vh;
    border-radius: 0px 20px 20px 0px;
    object-fit: fill;
}

.descTitle {
    color: #FFF;
    filter: drop-shadow(4px 4px 4px black);
    font-family: Lexend Deca;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.5px;
}

.descText {
    padding-top: 5vh;
    padding-left: 5vh;
}

.descTextDesc {
    position: absolute;
    color: #FFF;
    filter: drop-shadow(2px 2px 2px black);
    font-family: Lexend Deca;
    top: 18vh;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    width: 70vh;
}

.break {
    padding-top: 1.5vh;
}

.line {
    position: absolute;
    background-color: white;
    top: 14vh;
    border-radius: 10px;
    height: 3px;
    width: 70vh;
}

.line2 {
    background-color: #747D8C;
    top: 14vh;
    border-radius: 10px;
    height: 3px;
    width: 70vh;
}

.button {
    display: inline-flex;
    padding: 20px 55px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #1E90FF;
    border: none;
    cursor: pointer;
  }
  
  .buttonText {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .buttonDiv {
    padding-top: 5vh;
  }