.main {
  position: relative;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

.spons {
  position: relative;
  height: 70vh;
  width: 85vw;
  margin: auto;
  top: 0;
  border-radius: 20px;
  background: rgba(206, 214, 224, 0.95);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.sponsText {
  padding-top: 4vh;
}

.sponsTitle {
  color: #2f3542;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.5px;
}

.desc {
  position: relative;
  height: 70vh;
  width: 85vw;
  margin: auto;
  top: 15vh;
  border-radius: 20px;
  background: rgba(47, 53, 66, 0.95);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.descImage {
  position: absolute;
  top: 0;
  right: 0;
}

.descImg {
  width: 68.5vh;
  border-radius: 0px 20px 20px 0px;
  object-fit: fill;
}

.descTitle {
  color: #fff;
  filter: drop-shadow(4px 4px 4px black);
  font-family: Lexend Deca;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.5px;
}

.descText {
  padding-top: 5vh;
  padding-left: 5vh;
}

.descTextDesc {
  position: absolute;
  color: #fff;
  filter: drop-shadow(2px 2px 2px black);
  font-family: Lexend Deca;
  top: 18vh;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  width: 70vh;
}

.break {
  padding-top: 1.5vh;
}

.line {
  position: absolute;
  background-color: white;
  top: 14vh;
  border-radius: 10px;
  height: 3px;
  width: 70vh;
}

.line2 {
  background-color: #747d8c;
  top: 14vh;
  border-radius: 10px;
  height: 3px;
  width: 70vh;
}

.button {
  display: inline-flex;
  padding: 20px 55px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #30b3ec;
  border: none;
  cursor: pointer;
}

.buttonText {
  color: #fff;
  font-family: Lexend Deca;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonDiv {
  padding-top: 5vh;
}

.positionSponsor {
  position: relative;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 4vh;
}

.positionSponsor :last-child {
  margin-top: 4vh;
}

.imgNTNU {
  height: 10vh;
  width: 50vh;
  transition: 0.5s;
}

.imgNTNU:hover {
  transform: scale(1.02);
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25));
}

.imgNAIL {
  transition: 0.5s;
  height: 20vh;
  width: 40vh;
}

.imgNAIL:hover {
  transform: scale(1.02);
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25));
}

/* --- css for 1920 x 1080 widescreen --- */
@media only screen and (width: 1920px) and (max-height: 1080px) {
  .descTextDesc {
    position: absolute;
    color: #fff;
    filter: drop-shadow(2px 2px 2px black);
    font-family: Lexend Deca;
    top: 18vh;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    width: 70vh;
  }

  .button {
    display: inline-flex;
    padding: 25px 75px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #30b3ec;
    border: none;
    cursor: pointer;
  }

  .buttonText {
    color: #fff;
    font-family: Lexend Deca;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .positionSponsor :last-child {
    margin-top: 6vh;
  }

  .buttonDiv {
    padding-top: 4vh;
  }
}
