.OrgCopy {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
  }

.OrgNr {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;  
  }

.icons {
    position: absolute;
    left: 110vh;
    padding-top: 4.5vh;
    overflow: hidden;
    
}

.ficons {
    transition: .5s;
}

.ficons:hover {
    transition: .5s;
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px black);
}

.iicons {
    transition: .5s;
}

.iicons:hover {
    transition: .5s;
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px black);
}

.licons {
    transition: .5s;
}

.licons:hover {
    transition: .5s;
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px black);
}

.gicons {
    transition: .5s;
}

.gicons:hover {
    transition: .5s;
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 2px black);
}

/* --- css for Widescreen laptops --- */
@media only screen and (max-height: 750px) {
    .icons {
        overflow-x: hidden;
        position: absolute;
        left: 150vh;
        padding-top: 6vh;
        overflow: hidden;
    }
  }

  @media only screen and (max-height: 750px) {
    .icons {
        overflow-x: hidden;
        position: absolute;
        left: 150vh;
        padding-top: 6vh;
        overflow: hidden;
    }
  }