.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

.contact {
  position:absolute;
  border-radius: 20px;
  width: 75vw;
  height: 55vh;
  top: 43vh;
  left: 12vw;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contactText {
  position: absolute;
  left: 5vh;
  top: 4vh;
}

.contactTitle {
  color: #13395bf6;
  font-family: Lexend Deca;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.5px;
}

.contactDesc {
  color: #2F3542;
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 60vh;
  padding-top: 1vh;
}

.map {
  position: absolute;
  overflow: 'hidden';
  border-radius: 20px;
  border-radius: 20px;
  top: 43vh;
  left: 51vw;
  height: 54.7vh;
  width: 35vw;
  opacity: 85%;
}

.hrline {
  background-color: #2F3542;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.footer {
  position: absolute;
  left: 40vh;
  padding-top: 4vh;
}

.erfaringTitle {
  position: absolute;
  color: #FFF;
  font-family: Lexend Deca;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.5px;
  z-index: 50;
  top: 35vh;
  left: 54%;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.erfaring {
  position: absolute;
  color: #FFF;
  font-family: Lexend Deca;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 50;
  top: 43vh;
  left: 54%;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.cogitoBrain {
  position: absolute;
  top: 25vh;
  left: 50%;
  z-index: 2;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.link {
  list-style-type: none;
}

.subg {
  transform: translateX(calc(-2.5%));
}

.sun {
  position: absolute;
  z-index: 1;
  transition: 1s;
}

.sun_img {
  transform: translateX(calc(-2.5%));
  transform: translateY(calc(-5%));
}

.theatre {
  position: absolute;
  z-index: 3;
  transition: 0.45s;
  transform: translateX(calc(-2.5%));
  transform: translateY(calc(-5%));
}

.stage {
  position: absolute;
  padding-bottom: 12vh;
  z-index: 5;
  transition: 0.4s;
  transform: translateX(calc(-2%));
  transform: translateY(calc(-15%));
}

.textdiv {
  color: #FFF;
  font-family: Lexend Deca;
  bottom: 2vh;
  left: 2vh;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: absolute;
  z-index: 50;
}

.text {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.8px;
  z-index: 90;
  left: 33%;
  top: 40%;

  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.text2 {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1px;
  z-index: 90;
  left: 33%;
  top: 50%;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.button {
  display: inline-flex;
  padding: 15px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #1E90FF;
  border: none;
}

.buttonText {
  color: #FFF;
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonDiv {
  padding-top: 4vh;
}

.bgbacks {
  transform: translateY(calc(-24%));
}


/* --- css for Widescreen laptops --- */
@media only screen and (max-height: 750px) {
  .main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  }
  .bgbacks {
    transform: translateY(calc(-35%));
  }

  .footer {
    overflow-x: hidden;
    position: absolute;
    left: 50vh;
    padding-top: 5.5vh;
  }

  .stage {
    position: absolute;
    padding-bottom: 12vh;
    z-index: 5;
    transition: 0.4s;
    transform: translateX(calc(-2%));
    transform: translateY(calc(-22%));
  }

  .subg {
    transform: translateX(calc(-2.5%));
    transform: translateY(calc(-10%));
  }
}

