.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
}

.sun {
  position: absolute;
  z-index: 1;
  transition: 1s;
}

.sun_img {
  transform: translateX(calc(-2.5%));
  transform: translateY(calc(-5%));
  
}

.theatre {
  position: absolute;
  z-index: 3;
  transition: 0.45s;
  transform: translateX(calc(-2.5%));
  transform: translateY(calc(-5%));
}

.stage {
  position: absolute;
  padding-bottom: 12vh;
  z-index: 5;
  transition: 0.4s;
  transform: translateX(calc(-2%));
  transform: translateY(calc(-15%));
}

.text_div {
  
}

.text {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.8px;
  z-index: 100;
  left: 33%;
  top: 40%;

  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.text2 {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1px;
  z-index: 100;
  left: 33%;
  top: 50%;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

