.main {
    position: absolute;
    left: 13vh;
    top: 15vh;
    height: 90vh;
    width: 85vw;
    border-radius: 20px;
    background-color: #2f3542;
    overflow: hidden;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.gradient {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 60vh;
    width: 85vw;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 60%, #2f3542 100%);
}

.changeCategory {
    position: absolute;
    top: 10vh;
    background-color: white;
    z-index: 20;
}

.img {
    margin: auto;
    border-radius: 100px;
    padding-top: 400px;
}

.img2 {
    margin: auto;
    border-radius: 100px;
    padding-top: 1200px;
}

.img3 {
    margin: auto;
    border-radius: 100px;
    padding-bottom: 600px;
}

.img4 {
    margin: auto;
    border-radius: 100px;
    padding-bottom: 300px;
}

.img5 {
    margin: auto;
    border-radius: 100px;
    padding-bottom: 300px;
}

.image {
    transform: scale(0.25);
}

