.main {
    position: relative;
    min-height: 120vh;
    max-height: 280vh;
    padding-bottom: 15vh;
    width: 100vw;
    z-index: 20;
}

.bg {
    position: relative;
    width: 85vw;
    left: 13vh;
    top: 15vh;
    border-radius: 20px;
    background: #2f3542;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.bgGradient {
    position: absolute;
    top: 0;
    height: 56vh;
    width: 85vw;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 75%, #2f3542 100%);
}

.bgImg {
    height: 56vh;
    width: 85vw;
    border-radius: 20px 20px 0px 0px;
}

.brainImg {
    position: absolute;
    left: 37%;
    top: 40vh;
}

.brainText {
    position: absolute;
    left: 28%;
    top: 50vh;
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1px;
    filter: drop-shadow(0px 2px 1px black);
    
}

.buttons {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 8vh;
    padding-top: 10vh;
    padding-bottom: 4vh;
    gap: 24vh;
}

.buttonsP1 {
    display: flex;
    gap: 4vh;
}

.buttonsP2 {
    display: flex;
    gap: 4vh;
}

.button {
    display: inline-flex;
    word-break: break-all;
    width: 25vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: none;
    z-index: 100;
    cursor: pointer;
}

.button:hover {
    transform: scale(0.99);
    transition: 0.2s;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.8));
}
  
.buttonText {
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.members {
    padding-top: 4vh;
    padding-bottom: 10vh;
    max-width: 130vh;
    padding-left: 19.5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-count: 3;
    row-gap: 3vh;
    column-gap: 9vh;
    align-items: center;
    justify-content: center;
    opacity: 100%;
}

.member {
    display:inline-block;
}

.line {
    background-color: white;
    border-radius: 10px;
    height: 3px;
    width: 110vh;
}
